<div tuiConnected>
  <div tuiHeader="l">
    <h1 tuiTitle="l" style="margin-top: 0; margin-bottom: 1rem;">Посещаемость</h1>
  </div>
  @for (student of students; track $index) {
    <label tuiCell>
      <tui-avatar
        size="m"
        [src]="student.fullName| tuiInitials"
        [style.background]="student.fullName | tuiAutoColor"
        [tuiSkeleton]="skeletonStudents"
      />
      <div tuiTitle>
        <span [tuiSkeleton]="skeletonStudents && 2">{{ student.fullName }}</span>
        <span tuiSubtitle [tuiSkeleton]="skeletonStudents">
          <tui-chip size="xxs" [style.background]="student.beltLevel | beltLevelColor">{{ student.beltLevel | beltLevel }}</tui-chip>
        </span>
      </div>
      @if (getStudentAttendance(student.id)) {
        <button
          appearance="positive"
          iconStart="@tui.circle-check-big"
          size="m"
          tuiIconButton
          type="button"
          [tuiSkeleton]="skeletonStudents"
          [style.border-radius.%]="100"
          (click)="unmarkAttenadance(student.id)"
        ></button>
      } @else {
        <button
          appearance="negative"
          iconStart="@tui.circle-slash"
          size="m"
          tuiIconButton
          type="button"
          [tuiSkeleton]="skeletonStudents"
          [style.border-radius.%]="100"
          (click)="markAttendance(student.id)"
        ></button>
      }
    </label>
  }
</div>