<div class="tui-container">
  <div
    tuiAppearance="floating"
    tuiCardLarge
    class="tui-space_vertical-4">
    <div tuiHeader="l">
      <h1 tuiTitle>
        <div tuiCaption>Группа</div>
        @if(!skeletonGroup) {
          {{ group!.name }}
        } @else {
          <div class="d-flex" [tuiSkeleton]="true">'</div>
        }
      </h1>
      <div tuiAccessories>
        <tui-avatar
          appearance="primary"
          size="m"
          src="@tui.users-round"
        />
      </div>
    </div>
  </div>

  @if(students.length === 0) {
    <div tuiAppearance="floating" tuiCardLarge tuiConnected class="tui-space_vertical-4">
      <tui-block-status size="l">
        <div tuiHeader="l">
          <h3 tuiTitle>
            В группе нет ни одного учащегося
          </h3>
        </div>
      </tui-block-status>
      <div
          class="tui-form__buttons tui-form__buttons_align_center"
          style="margin-bottom: 0"
        >
          <button
            appearance="positive"
            size="xl"
            tuiButton
            type="button"
            iconStart="@tui.badge-plus"
            class="tui-form__button"
            (click)="showSelectionDialog()"
          >
            Добавить нового учащегося
          </button>
        </div>
    </div>
  } @else { 
    <div tuiAppearance="floating" tuiCardLarge class="tui-space_vertical-4">
      <div tuiHeader="l">
        <h1 tuiTitle="l" style="margin: 0;">Список учащихся</h1>
        <div tuiAccessories>
          <button
            appearance="primary"
            size="m"
            tuiButton
            type="button"
            (click)="showSelectionDialog()">
            <tui-icon
              icon="@tui.user-round-plus"
              [style.height.rem]="1" />
            Добавить
          </button>
        </div>
      </div>
      
      @for (student of students; track $index) {
        <label tuiCell>
          <tui-avatar
              size="m"
              [src]="student.fullName | tuiInitials"
              [style.background]="student.fullName | tuiAutoColor"
              [tuiSkeleton]="skeletonStudents"
            />
          <div tuiTitle [tuiSkeleton]="skeletonStudents && 10">
            {{ student.fullName }}
          </div>
          <button
            appearance="icon"
            tuiIconButton
            type="button"
          ></button>
          <button
            appearance="icon"
            iconStart="@tui.trash-2"
            tuiIconButton
            type="button"
            (click)="approveStudentRemoving(student)"
            [tuiSkeleton]="skeletonStudents"
          ></button>
        </label>
      }
    </div>
  }

  @if(prices.length === 0) {
    <div tuiAppearance="floating" tuiCardLarge tuiConnected class="tui-space_vertical-3">
      <tui-block-status size="l">
        <div tuiHeader="l">
          <h3 tuiTitle>
            Нет ни одной записи цены
          </h3>
        </div>
      </tui-block-status>
      <div
          class="tui-form__buttons tui-form__buttons_align_center"
          style="margin-bottom: 0"
        >
          <button
            appearance="positive"
            size="xl"
            tuiButton
            type="button"
            iconStart="@tui.badge-plus"
            class="tui-form__button"
            (click)="showNewPriceDialog(newPriceTemplate, 'Новая цена', 'm')"
          >
            Добавить запись новой цены
          </button>
        </div>
    </div>
  } @else { 
    <div tuiAppearance="floating" tuiCardLarge class="tui-space_vertical-3">
      <div tuiHeader="l">
        <h1 tuiTitle="l" style="margin: 0;">Цены занятий</h1>
        <div tuiAccessories>
          <button
            appearance="primary"
            size="m"
            tuiButton
            type="button"
            (click)="showNewPriceDialog(newPriceTemplate, 'Новая цена', 'm')">
            <tui-icon
              icon="@tui.badge-plus"
              [style.height.rem]="1" />
            Добавить
          </button>
        </div>
      </div>
      
      @for (price of prices; track $index) {
        <label tuiCell>
          <tui-avatar
              size="m"
              src="₽"
              [style.background]="price.id| tuiAutoColor"
              [tuiSkeleton]="skeletonPrices"
            />
          <div tuiTitle [tuiSkeleton]="skeletonPrices && 10">
            <b>{{ price.startTime }} — {{ price.startTime }}: {{ price.price }}</b>
          </div>
        </label>
      }
    </div>
  }
</div>

<ng-template #newPriceTemplate let-observer>
  <form [formGroup]="newPriceGroup" (submit)="addNewPrice()">
    <div class="tui-form__header"></div>
    <div class="tui-row tui-row_sme">
      <div class="tui-col_12">
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <tui-input-date formControlName="startDate">
              Дата начала действия цены
            </tui-input-date>
          </div>
          <div class="tui-form__multi-field">
            <tui-input-date formControlName="endDate">
              Дата окончания действия цены
            </tui-input-date>
          </div>
        </div>
        <div class="tui-form__row">
          <tui-input-number formControlName="price" [tuiTextfieldPostfix]="'RUB' | tuiCurrency">
            Стоимость занятия
          </tui-input-number>
        </div>
      </div>
    </div>
    <div class="tui-form__buttons">
      <button size="l" tuiButton type="submit" class="tui-form__button">
        Создать
      </button>
      <button
        appearance="flat"
        size="l"
        tuiButton
        type="button"
        class="tui-form__button"
        (click)="observer.complete()"
      >
        Отмена
      </button>
    </div>
  </form>
</ng-template>
