<div
  tuiAppearance="floating"
  tuiCardLarge>
  <div tuiHeader="xxl">
    <h1 tuiTitle style="margin-top: 0px; margin-bottom: 0;">
      <div tuiCaption>Группа</div>
      @if(!skeletonGroup) {
        {{ group!.name }}
      } @else {
        <span [tuiSkeleton]="true && 5"></span>
      }
    </h1>
  </div>
</div>

@if(students.length === 0) {
  <div tuiAppearance="floating" tuiCardLarge tuiConnected>
    <tui-block-status size="l">
      <div tuiHeader="l">
        <h3 tuiTitle>
          В группе нет ни одного учащегося
        </h3>
      </div>
    </tui-block-status>
    <div
        class="tui-form__buttons tui-form__buttons_align_center"
        style="margin-bottom: 0"
      >
        <button
          appearance="positive"
          size="xl"
          tuiButton
          type="button"
          iconStart="@tui.badge-plus"
          class="tui-form__button"
          (click)="showSelectionDialog()"
        >
          Добавить нового учащегося
        </button>
      </div>
  </div>
} @else { 
  <div tuiAppearance="floating" tuiCardLarge>
    <div tuiHeader="l">
      <h1 tuiTitle="l" style="margin: 0;">Список учащихся</h1>
      <div tuiAccessories>
        <button
          appearance="primary"
          size="m"
          tuiButton
          type="button"
          (click)="showSelectionDialog()">
          <tui-icon
            icon="@tui.user-round-plus"
            [style.height.rem]="1" />
          Добавить
        </button>
      </div>
    </div>
    
    @for (student of students; track $index) {
      <label tuiCell>
        <tui-avatar
            size="m"
            [src]="student.fullName | tuiInitials"
            [style.background]="student.fullName | tuiAutoColor"
            [tuiSkeleton]="skeletonStudents"
          />
        <div tuiTitle [tuiSkeleton]="skeletonStudents && 10">
          {{ student.fullName }}
        </div>
        <button
          appearance="icon"
          tuiIconButton
          type="button"
        ></button>
        <button
          appearance="icon"
          iconStart="@tui.trash-2"
          tuiIconButton
          type="button"
          (click)="approveStudentRemoving(student)"
          [tuiSkeleton]="skeletonStudents"
        ></button>
      </label>
    }
  </div>
}