<main tuiNavigationMain style="margin: 1%;">
  <form [formGroup]="loginForm">
    <div tuiHeader="xl">
      <h2 tuiTitle>Авторизация</h2>
    </div>
    <div class="tui-form__row">
      <tui-textfield
        iconEnd="@tui.phone">
        <label tuiLabel>Номер телефона или логин</label>
        <input
          placeholder="Номер телефона или логин"
          tuiTextfield
          formControlName="loginValue" />
      </tui-textfield>
    </div>
    <div class="tui-form__row">
      <tui-textfield>
        <label tuiLabel>Пароль</label>
        <input
          placeholder="Пароль"
          tuiTextfield
          type="password"
          formControlName="passwordValue" />
        <tui-icon tuiPassword />
      </tui-textfield>
    </div>
  </form>
</main>
