<main tuiNavigationMain style="margin: 1%;">
  <div tuiAppearance="floating" tuiCardLarge>
    <header tuiHeader="xxl">
      <h1 tuiTitle>
        <div tuiCaption>Пользователь</div>
        {{name}}
        <div tuiSubtitle>Учащийся</div>
      </h1>
      <div tuiAccessories>
        <tui-avatar
          [src]="'AF'"
          size="xxl" />
      </div>
    </header>
    <div tuiHeader="xs">
      <h6 tuiTitle>
        Номер телефона: {{ phone }}
      </h6>
    </div>
    <div tuiHeader="xs">
      <h6 tuiTitle>
        Группа: {{ group }}
      </h6>
    </div>
  </div>
  <div tuiAppearance="floating" tuiCardLarge style="margin-top: 1%;">
    <header tuiHeader="xxl">
      <h1 tuiTitle>
        <div tuiCaption>Дополнительная информация</div>
      </h1>
    </header>
    <section class="actions">
      <div tuiCell="l" tuiHeader="s">
        <div tuiTitle>
          {{gender}}
          <div tuiSubtitle>Пол</div>
        </div>
      </div>
      <div tuiCell="l" tuiHeader="s">
        <div tuiTitle>
          {{parentFullName}}
          <div tuiSubtitle>Родитель</div>
        </div>
      </div>
      <div tuiCell="l" tuiHeader="s">
        <div tuiTitle>
          {{belt}}
          <div tuiSubtitle>Пояс</div>
        </div>
      </div>
      <div tuiCell="l" tuiHeader="s">
        <div tuiTitle>
          {{parentPhone}}
          <div tuiSubtitle>Телефон родителя</div>
        </div>
      </div>
    </section>
  </div>
</main>