<main tuiNavigationMain>
  <div tuiAppearance="floating" tuiCardLarge>
    <header tuiHeader="xl">
      <h2 tuiTitle>
        <div tuiCaption>Пользователь</div>
        {{ currentUser!.fullName }}
        <div tuiSubtitle>{{ currentUser!.role }}</div>
      </h2>
      <div tuiAccessories>
        <tui-avatar
          [src]="currentUser!.fullName | tuiInitials"
          [style.background]="currentUser!.fullName | tuiAutoColor" 
          size="xxl" />
      </div>
    </header>
    <div tuiHeader="xs">
      <h6 tuiTitle>
        Номер телефона: {{ currentUser!.phone }}
      </h6>
    </div>
    <div tuiHeader="xs">
      <h6 tuiTitle>
        Электронная почта: {{ currentUser!.email }}
      </h6>
    </div>
  </div>
  @if(currentUser?.role === "Учащийся") {
    <div tuiAppearance="floating" tuiCardLarge style="margin-top: 1%;">
      <header tuiHeader="xxl">
        <h1 tuiTitle>
          <div tuiCaption>Дополнительная информация</div>
        </h1>
      </header>
      <section class="actions">
        <div tuiCell="l" tuiHeader="s">
          <div tuiTitle>
            {{ getUserAdditionalProperty('parentFullName') }}
            <div tuiSubtitle>Родитель</div>
          </div>
        </div>
        <div tuiCell="l" tuiHeader="s">
          <div tuiTitle>
            {{ getUserAdditionalProperty('birthDate') }}
            <div tuiSubtitle>Дата рождения</div>
          </div>
        </div>
        <div tuiCell="l" tuiHeader="s">
          <div tuiTitle>
            {{ getUserAdditionalProperty('parentPhone') }}
            <div tuiSubtitle>Телефон родителя</div>
          </div>
        </div>
        <div tuiCell="l" tuiHeader="s">
          <div tuiTitle>
            {{ getUserAdditionalProperty('beltLevel') }}
            <div tuiSubtitle>Пояс</div>
          </div>
        </div>
      </section>
    </div>
  }
</main>