<tui-root>
  <header tuiNavigationHeader>
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.home"
      tuiButton
      type="button"
      routerLink="/">
      Главная
    </button>
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.users"
      tuiButton
      type="button"
      routerLink="/groups">
      Группы
    </button>
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.users"
      tuiButton
      type="button"
      routerLink="/users">
      Пользователи
    </button>
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.calendar-check-2"
      tuiButton
      type="button"
      routerLink="/schedule">
      Расписание
    </button>
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.russian-ruble"
      tuiButton
      type="button"
      routerLink="/accounting">
      Взаиморасчеты
    </button>
    <hr />
    @if(currentUser) {
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.user"
      tuiButton
      tuiDropdownAlign="center"
      type="button"
      [tuiAppearanceState]="profileDropdownState ? 'active' : null"
      [tuiDropdown]="profileDropdown"
      [(tuiDropdownOpen)]="profileDropdownState">
      Мой профиль
    </button>
    <ng-template
      #profileDropdown
      let-close>
      <tui-data-list>
        <tui-opt-group>
          <button
            tuiOption
            type="button"
            iconStart="@tui.user"
            routerLink="/profile"
            (click)="profileDropdownState = false">
            {{ currentUser.fullName }}
          </button>
        </tui-opt-group>
        <tui-opt-group>
          <button
            tuiOption
            type="button"
            (click)="logout()">
            Выйти из профиля
          </button>
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
    } @else {
    <button
      appearance="secondary-grayscale"
      iconStart="@tui.log-in"
      tuiButton
      type="button"
      (click)="showLoginDialog()">
      Войти
    </button>
    }
  </header>
  <main tuiNavigationMain style="padding: 12px;">
    <router-outlet></router-outlet>
  </main>
</tui-root>