<tui-root>
  
  <header tuiNavigationHeader>
    <button
      type="button"
      tuiIconButton
      tuiNavigationDrawer
      [iconStart]="expanded ? '@tui.x' : '@tui.menu'"
      [(open)]="open"
    >
      <aside [tuiNavigationAside]="true">
        @if (currentUser) {
          @if (isTrainer() || isAdmin()) {
            <a iconStart="@tui.group" tuiAsideItem [routerLink]="'/groups'">
              Группы
            </a>
            <a iconStart="@tui.users" tuiAsideItem [routerLink]="'/users'">
              Пользователи
            </a>
          }
          <a
            iconStart="@tui.calendar-days"
            tuiAsideItem
            [routerLink]="'/schedule'"
          >
            Расписание
          </a>
          <a
            iconStart="@tui.receipt-russian-ruble"
            tuiAsideItem
            [routerLink]="'/bills'"
          >
            Чеки
          </a>
          <tui-aside-group>
            <button
              iconStart="@tui.file-chart-line"
              tuiAsideItem
              tuiChevron
              type="button"
            >
              Отчеты
              <ng-template>
                <a iconStart="@tui.calendar-check" tuiAsideItem [routerLink]="'/reports/attendance'">
                  Посещаемость
                </a>
                <a iconStart="@tui.chart-candlestick" tuiAsideItem [routerLink]="'/reports/mutual-settlements'">
                  Взаиморасчеты
                </a>
              </ng-template>
            </button>
          </tui-aside-group>
        }
      </aside>
    </button>
    <span tuiNavigationLogo>
      <tui-icon icon="@tui.home"/>
      <span tuiFade>Журнал тренера</span>
    </span>
    <hr />
    @if(currentUser) {
      <button
        appearance="secondary-grayscale"
        iconStart="@tui.user"
        tuiButton
        tuiDropdownAlign="center"
        type="button"
        [tuiAppearanceState]="profileDropdownState ? 'active' : null"
        [tuiDropdown]="profileDropdown"
        [(tuiDropdownOpen)]="profileDropdownState">
        Мой профиль
      </button>
      <ng-template
        #profileDropdown
        let-close>
        <tui-data-list>
          <tui-opt-group>
            <button
              tuiOption
              type="button"
              iconStart="@tui.user"
              routerLink="/profile"
              (click)="profileDropdownState = false">
              {{ currentUser.fullName }}
            </button>
          </tui-opt-group>
          @if (isAdmin()) {
            <tui-opt-group>
              <button
                tuiOption
                type="button"
                iconStart="@tui.user-plus"
                (click)="showRegisterDialog()">
                Создать пользователя
              </button>
            </tui-opt-group>
          }
          <tui-opt-group>
            <button
              tuiOption
              type="button"
              (click)="logout()">
              Выйти из профиля
            </button>
          </tui-opt-group>
        </tui-data-list>
      </ng-template>
      } @else {
      <button
        appearance="secondary-grayscale"
        iconStart="@tui.log-in"
        tuiButton
        type="button"
        (click)="showLoginDialog()">
        Войти
      </button>
    }
  </header>
  <div [style.display]="'flex'">
    <aside [tuiNavigationAside]="false">
      @if (currentUser) {
        @if (isTrainer() || isAdmin()) {
          <a iconStart="@tui.group" tuiAsideItem [routerLink]="'/groups'">
            Группы
          </a>
          <a iconStart="@tui.users" tuiAsideItem [routerLink]="'/users'">
            Пользователи
          </a>
        }
        <a
          iconStart="@tui.calendar-days"
          tuiAsideItem
          [routerLink]="'/schedule'"
        >
          Расписание
        </a>
        <a
          iconStart="@tui.receipt-russian-ruble"
          tuiAsideItem
          [routerLink]="'/bills'"
        >
          Чеки
        </a>
        <tui-aside-group>
          <button
            iconStart="@tui.file-chart-line"
            tuiAsideItem
            tuiChevron
            type="button"
          >
            Отчеты
            <ng-template>
              <a iconStart="@tui.calendar-check" tuiAsideItem [routerLink]="'/reports/attendance'">
                Посещаемость
              </a>
              <a iconStart="@tui.chart-candlestick" tuiAsideItem [routerLink]="'/reports/mutual-settlements'">
                Взаиморасчеты
              </a>
            </ng-template>
          </button>
        </tui-aside-group>
      }
    </aside>
    <main tuiNavigationMain class="tui-space_top-5">
      @if (currentUser) {
        <router-outlet></router-outlet>
      } @else {
        <div tuiCardLarge tuiAppearance="floating">
          <tui-block-status size="l">
            <div tuiHeader="xxl">
              <h1 tuiTitle style="text-align: center;">
                Журнал тренера
              </h1>
            </div>
            <div tuiHeader="l">
              <h3 tuiTitle>Чтобы продолжить, пройдите авторизацию</h3>
            </div>
            <button
              appearance="primary"
              size="xl"
              tuiButton
              type="button"
              (click)="showLoginDialog()"
            >
              Авторизация
            </button>
          </tui-block-status>
        </div>
      }
    </main>
  </div>
</tui-root>